{% extends 'base.html.twig' %}


{% block title %}des boulot pour personne
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block body %}
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>
<header>

	<form action="" class="col-2">
		<input type="text">
		<select name="" id="">
			{% for job in job %}
				<option value="{{job.categorie}}">{{job.categorie}}</option>
			{% endfor %}
		</select>
	</form>
</header>
<link rel="stylesheet" href="../style.css">
<h1>les boulot dispo !</h1>
<a href="/form" id="poste">poster une annonce</a>

{% for job in job %}
	<div class="box">
		<h1>{{job.contrat}}</h1>
		<p>{{job.description}}</p>
		<tr>
			<td>
				{{job.pays}}
			</td>
			<td>
				-
			</td>
			<td>
				{{job.lieu}}
			</td>
		</tr>

		<p>{{job.categorie}}</p>
		<a href="job/{{job.id}}" class="btn btn-primary" role="button">en savoir plus</a>
	</a>
</div>{% endfor %}{% block javascripts %}

<script>
	$('.dropdown-toggle').dropdown();
</script>{% endblock %}</div>{% endblock %}
